.teal{  
  background-color: #ffffff !important;
  border: 1px #00a1af solid !important;
}
.custom-input {
  border-radius: 20px;
  border: 1px #00a1af solid;
  padding: 4px 12px;
  background-color: white;
  height: 22px;
}

.custom-input:focus {
  outline: none;
  border: 1px solid #00a1af;
  box-shadow: 0 0 10px 2px #00a1af;
}